<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="Cours4_JPA_testPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>dauphine.sitn.cdai.annee2014.cours4.entity.Livres</class>
        <properties>
     
            <property name="serverName" value="localhost"/>
            <property name="portNumber" value="5432"/>
            <property name="databaseName" value="postgres"/>
            <property name="javax.persistence.jdbc.user" value="postgres"/>
            <property name="javax.persistence.jdbc.password" value="postgresql"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/postgres"/>
            <property name="driverClass" value="org.postgresql.Driver"/>
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>

        </properties>
    </persistence-unit>
</persistence>
